extends ../lib/_layout

block vars
  -
    var pageName = "About"
    var description = "WEBデザイナー / コーダーの 326.Fujimaki のポートフォリオサイトのAboutページです。"
    var pageUrl = "about"
    var pageID = "about"

block body
  main
    section.about.mt-5.mb-5
      h2.h1.text-center.mb-5(data-emergence="hidden") About
      .container
        .row.d-flex
          .col-md-8.order-2.order-sm-1(data-emergence="hidden")
            h3.h4.mb-0.font-weight-normal 326.Fujimaki
            p.mb-3 Webデザイナー／コーダー
            p.mb-3.text-justify SEOに最適化されたコーディングを得意としています。
              br.d-none.d-md-inline
              | 4年間、Webデザイナーアシスタントとして、コーディング ・ ページデザイン ・ バナー作成 ・ HTMLメールなどを制作してきました。
              br.d-none.d-md-inline
              | コーディングが好きなので、フロントエンドについて勉強中です。
            p.mb-3.text-justify デザインを通して情報を正確に伝えることと、また人々の情報リテラシーを向上させることをモットーにWEBデザインを考えています。

          .col-md-4.order-1.order-sm-2(data-emergence="hidden")
            p
              img.img-fluid.w-100.rounded-circle(src="images/face.jpg" srcset="images/face@2x.jpg 2x" alt="326")
    section.career.mt-5.mb-5
      h2.h1.text-center.mb-5(data-emergence="hidden") Career
      .container
        .row.mb-3.mb-md-0(data-emergence="hidden")
          h3.h6.col-md-2.mb-3.mb-md-0 2007年
          p.col-md-10.text-justify 二松学舎大学国文学部に入学。白樺派を中心とした近代文学を専攻。デザインとは無縁の学業ではありますが、情報収拾・共有方法をよく実践し、事実 ・ 史実に基づいたプレゼンテーションの大切さを学びました。
        .row.mb-3.mb-md-0(data-emergence="hidden")
          h3.h6.col-md-2.mb-3.mb-md-0 2012年
          p.col-md-10.text-justify 大学卒業後1年間後に、自身が信仰する末日聖徒イエス・キリスト教会の日本福岡伝道部で宣教師として2年間従事。ボランティア活動として宗教活動のほか、無料英会話教室の設営と運営、外国人宣教師を含む新任宣教師の指導、担当区域内にいる宣教師のマネージメントと指導等を行いました。
        .row.mb-3.mb-md-0(data-emergence="hidden")
          h3.h6.col-md-2.mb-3.mb-md-0 2014年
          p.col-md-10.text-justify 宣教師の奉仕終了後、以前より学んでいたWeb制作を仕事にしたいと思い、職業訓練校に入校。半年間で約600時間Webサイト制作に必要なスキルを学習 ・ 演習 ・ 実習しました。
        .row.mb-3.mb-md-0(data-emergence="hidden")
          h3.h6.col-md-2.mb-3.mb-md-0 2015年
          p.col-md-10.text-justify 職業訓練校での訓練終了後、不動産系WEBページ制作会社にWebデザイナーアシスタントとして入社。コーディング ・ ページデザイン ・ バナー作成 ・ HTMLメールなど幅広く携わってきました。近年は新規案件のコーディングを一任されるようになり、SEOの最適化・CSS設計なども行なっています。
        .row.mb-3.mb-md-0(data-emergence="hidden")
          h3.h6.col-md-2.mb-3.mb-md-0 2019年
          p.col-md-10.text-justify 現在にいたる。
    section.goals.mt-5.mb-5
      h2.h1.text-center.mb-5(data-emergence="hidden") Goals
      .container
        .row
          .col-md-4.mb-3.mb-md-0
            h3.h5.mb-4.font-weight-normal 新しいツールの使用方法を学ぶ
            p.text-justify “新しい事に挑戦していく”。その強みを生かし、新しいツールの使い方を取得していきたい。
              br.d-none.d-md-inline
              | 現在は今後使用機会が増えてくると思われる、Adobe XD・AfterEffects・Premiere Proを学習しています。
          .col-md-4.mb-3.mb-md-0
            h3.h5.mb-3.font-weight-normal フロントエンドの理解と実装
            p.text-justify SSRやプリレンダリングなどの技術が今後WEBページ制作において必須になると予想し、フロントエンドの知識を深めたい。
              br.d-none.d-md-inline
              | SSR導入で代表的なフレームワーク、Vue.js・Nuxt.jsなどを使いこなせるようにJavaScriptを再度学習し直しています。
          .col-md-4.mb-3.mb-md-0
            h3.h5.mb-3.font-weight-normal UXを意識したデザイン
            p.text-justify 個人の裁量でデザインする機会が今まで少なかったので、自発的にデザインができるようになりたい。
              br.d-none.d-md-inline
              | 特にUXが大切になってきているのでそれを意識しながらデザインを再履修していきたい。

    section.skills.mt-5.mb-5
      h2.h1.text-center.mb-5(data-emergence="hidden") Skills
      .container
        .row.skills-item.mb-2
          include ../lib/_skills_list
          +skills_list
    block footer
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" defer)
      script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-deferred" defer)
      