extends ../lib/_layout

block vars
  -
    var pageName = "About"
    var description = ""
    var pageUrl = "about"
    var pageID = "about"

block body
  main
    section.about.mt-5.mb-5
      h2.h1.text-center.mb-5(data-emergence="hidden") About
      .container
        .row.d-flex
          .col-md-7.order-2.order-sm-1(data-emergence="hidden")
            h3.h4.mb-0 326.Fujimaki
            p.mb-3 Webデザイナー／コーダー
            p.mb-4.text-justify SEOに最適化されたコーディングを得意としています。
              br
              | 4年間、Webデザイナーアシスタントとして、コーディング ・ ページデザイン ・ バナー作成 ・ HTMLメールなどを制作してきました。
              br
              | コーディングが得意なので、フロントエンドについて勉強中です。
            h4.h5.mb-1 長所
            p 新しいことにチャレンジをしていくことが得意で、できるようになるまでとことん追求していきます。
            h4.h5.mb-1 短所
            p ああああ

          .col-md-5.order-1.order-sm-2(data-emergence="hidden")
            p
              img.img-fluid.w-100(src="https://placehold.jp/500x500.png" alt="")
    section.career.mt-5.mb-5
      h2.h1.text-center.mb-5(data-emergence="hidden") Career
      .container
        .row.mb-3.mb-md-0(data-emergence="hidden")
          h3.h6.col-md-2.mb-3.mb-md-0 2007年
          p.col-md-10.text-justify 二松学舎大学国文学部に入学。白樺派を中心とした近代文学を専攻。デザインとは無縁の学業ではありますが、情報収拾・共有方法をよく実践し、事実 ・ 史実に基づいたプレゼンテーションの大切さを学びました。
        .row.mb-3.mb-md-0(data-emergence="hidden")
          h3.h6.col-md-2.mb-3.mb-md-0 2012年
          p.col-md-10.text-justify 大学卒業後1年間後に、自身が信仰する末日聖徒イエス・キリスト教会日本福岡伝道部で宣教師として2年間従事。ボランティア活動として宗教活動のほか、無料英会話教室の設営と運営、外国人宣教師を含む新任宣教師の指導、担当区域内にいる宣教師のマネージメントと指導等を行いました。
        .row.mb-3.mb-md-0(data-emergence="hidden")
          h3.h6.col-md-2.mb-3.mb-md-0 2014年
          p.col-md-10.text-justify 宣教師の奉仕終了後、以前より学んでいたWeb制作を仕事にしたいと思い、職業訓練校に入校。半年間で約600時間Webサイト制作に必要なスキルを学習 ・ 演習 ・ 実習しました。
        .row.mb-3.mb-md-0(data-emergence="hidden")
          h3.h6.col-md-2.mb-3.mb-md-0 2015年
          p.col-md-10.text-justify 職業訓練校での訓練終了後、不動産系WEBページ制作会社にWebデザイナーアシスタントとして入社。コーディング ・ ページデザイン ・ バナー作成 ・ HTMLメールなど幅広く携わってきました。近年は新規案件のコーディングを一任されるようになり、SEOの最適化・CSS設計なども行なっています。
        .row.mb-3.mb-md-0(data-emergence="hidden")
          h3.h6.col-md-2.mb-3.mb-md-0 2019年
          p.col-md-10.text-justify 現在にいたる。
    section.goals.mt-5.mb-5
      h2.h1.text-center.mb-5(data-emergence="hidden") Goals
      .container
        .row.mb-2(data-emergence="hidden")
          h3.display-4.col-2.col-md-1.m-0 1.
          p.col-10.col-md-11.text-justify 二松学舎大学国文学部に入学。白樺派を中心とした近代文学を専攻。デザインとは無縁の学業ではありますが、情報収拾・共有方法をよく実践し、事実・史実に基づいたプレゼンテーションの大切さを学ぶ。
        .row.mb-2(data-emergence="hidden")
          h3.display-4.col-2.col-md-1.m-0 2.
          p.col-10.col-md-11.text-justify 二松学舎大学国文学部に入学。白樺派を中心とした近代文学を専攻。デザインとは無縁の学業ではありますが、情報収拾・共有方法をよく実践し、事実・史実に基づいたプレゼンテーションの大切さを学ぶ。
        .row.mb-2(data-emergence="hidden")
          h3.display-4.col-2.col-md-1.m-0 3.
          p.col-10.col-md-11.text-justify 二松学舎大学国文学部に入学。白樺派を中心とした近代文学を専攻。デザインとは無縁の学業ではありますが、情報収拾・共有方法をよく実践し、事実・史実に基づいたプレゼンテーションの大切さを学ぶ。
    section.skills.mt-5.mb-5
      h2.h1.text-center.mb-5(data-emergence="hidden") Skills
      .container
        .row.skills-item.mb-2(data-emergence="hidden")
          .col-4.col-md-2.h-100.position-relative
            h3.position-absolute
              img.img-fluid.w-100(src="https://placehold.jp/500x500.png" alt="テスト")
            canvas.per-90(width="400" height="400")
          p.col-8.col-md-10.text-justify 二松学舎大学国文学部に入学。白樺派を中心とした近代文学を専攻。デザインとは無縁の学業ではありますが、情報収拾・共有方法をよく実践し、事実・史実に基づいたプレゼンテーションの大切さを学ぶ。
        .row.skills-item.mb-2(data-emergence="hidden")
          .col-4.col-md-2.h-100.position-relative
            h3.position-absolute
              img.img-fluid.w-100(src="https://placehold.jp/500x500.png" alt="テスト")
            canvas.per-80(width="400" height="400")
          p.col-8.col-md-10.text-justify 二松学舎大学国文学部に入学。白樺派を中心とした近代文学を専攻。デザインとは無縁の学業ではありますが、情報収拾・共有方法をよく実践し、事実・史実に基づいたプレゼンテーションの大切さを学ぶ。
        .row.skills-item.mb-2(data-emergence="hidden")
          .col-4.col-md-2.h-100.position-relative
            h3.position-absolute
              img.img-fluid.w-100(src="https://placehold.jp/500x500.png" alt="テスト")
            canvas.per-70(width="400" height="400")
          p.col-8.col-md-10.text-justify 二松学舎大学国文学部に入学。白樺派を中心とした近代文学を専攻。デザインとは無縁の学業ではありますが、情報収拾・共有方法をよく実践し、事実・史実に基づいたプレゼンテーションの大切さを学ぶ。
    block footer
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" defer)
      script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-deferred" defer)
      