doctype html
html(amp='', lang='ja')
  head
    meta(charset="utf-8")
    title 326.Fujimaki - Web Designer / Coder
    meta(name='description', content='326.Fujimaki - Web Designer / Coder')
    meta(name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=yes")
    meta(name='referrer', content='unsafe-url')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='format-detection', content='email=no,telephone=no,address=no')
    meta(property='og:site_name', content='326.Fujimaki - Web Designer / Coder')
    meta(property='og:title', content='326.Fujimaki - Web Designer / Coder')
    meta(property='og:description', content='326.Fujimaki - Web Designer / Coder')
    meta(property='og:url', content='https://fujimaki.design/')
    meta(property='og:image', content='https://fujimaki.design/ogp.jpg')
    meta(property='og:type', content='website')
    link(rel='canonical', href='正規化するURL')
    link(rel='stylesheet', href='css/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500|Noto+Serif+JP:300,400,500|Oswald:300,400|Rubik:300,400,500&subset=japanese")
    link(rel="stylesheet", href="https://use.typekit.net/zgt5zkk.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.2.0/dist/css/yakuhanjp-narrow.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")

  body
    header#header.d-flex.justify-content-between.position-fixed.w-100
      h1.mb-0
        a(href="/") 326.Fujimaki
      nav#gNav
        ul
          +gNav
      #sp-menu.d-block.d-sm-none
        i.fas.fa-f.fa-bars
    #sticky
          
        
    .p-5

    .w-50