extends lib/_layout


block vars
  -
    var pageName = ""
    var description = ""
    var pageUrl = ""
    var pageID = "index"

block body
  main
    section
      .main.text-center.d-flex.justify-content-center.align-items-center.position-relative.mb-5
        div.wrap
          h2.mb-0.main-ttl 326.Fujimaki
          p.main-p.text-muted.m-0 WEB DESIGNER / CODER
        div.main-down
          i.fa.fa-chevron-down
      section.works.mb-5
        h3.h1.text-center.mb-5(data-emergence="hidden") Works
        .container
          .row
            include lib/_works_list
            +works_list
      section.about.mb-5
        h3.h1.text-center.mb-5(data-emergence="hidden") About
        .container
          .row.d-flex
            .col-md-8.order-2.order-sm-1(data-emergence="hidden")
              h4.mb-0.font-weight-normal 326.Fujimaki
              p.mb-3 Webデザイナー／コーダー
              p.mb-3.text-justify SEOに最適化されたコーディングを得意としています。
                br.d-none.d-md-inline
                | 4年間、Webデザイナーアシスタントとして、コーディング ・ ページデザイン ・ バナー作成 ・ HTMLメールなどを制作してきました。
                br.d-none.d-md-inline
                | コーディングが好きなので、フロントエンドについて勉強中です。
              p.mb-4.text-justify デザインを通して情報を正確に伝えることと、また人々の情報リテラシーを向上させることをモットーにWEBデザインを考えています。
              p
                a.col-md-6.btn.btn-outline-dark(href="about/") 詳しくはこちら&nbsp;&nbsp;
                  i.fas.fa-angle-right
            .col-md-4.order-1.order-sm-2(data-emergence="hidden")
              p
                img.img-fluid.w-100.rounded-circle(src="/about/images/face.jpg" srcset="about/images/face@2x.jpg 2x" alt="326")



