extends lib/_layout.pug

block canonical
  link(rel="canonical" href="https://pug-test.com/index.html")

block title
  title PUGテスト

block pageTtl
  h1 JJテスト

block leadTxt
  p テスト

block container

.