-
  var list =[
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'html',
      skillTxt: 'HTML5'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'css',
      skillTxt: 'CSS3'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'sass',
      skillTxt: 'Sass'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'ps',
      skillTxt: 'Photoshop'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'dw',
      skillTxt: 'Dreamweaver'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'ai',
      skillTxt: 'Illustrator'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'pug',
      skillTxt: 'Pug'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'git',
      skillTxt: 'Git'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'lm',
      skillTxt: 'Laravel-Mix'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'npm',
      skillTxt: 'npm-script'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'gulp',
      skillTxt: 'Gulp'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'jq',
      skillTxt: 'jQuery'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'xd',
      skillTxt: 'Adobe XD'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'pr',
      skillTxt: 'Premiere Pro'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'js',
      skillTxt: 'JavaScript'
    },
    {
      skillImg: 'https://placehold.jp/500x500.png',
      skillClass: 'ae',
      skillTxt: 'AfterEffects'
    },
  ]

mixin skills_list
  each item in list
    .col-6.col-md-3.mb-3(data-emergence="hidden")
      .mb-2.position-relative
        h3.position-absolute
          img.img-fluid.w-100(src=item.skillImg alt=item.skillTxt)
        canvas(class=`per-${item.skillClass}` width="400" height="400")
      p.h5.text-center #{item.skillTxt}
