extends ../lib/_layout

block vars
  -
    var pageName = "Works"
    var description = ""
    var pageUrl = "works"
    var pageID = "works"

block body
  main
    section.works.mt-5.mb-5
      h2.h1.text-center.mb-5 Works
      .container
        article#fujimaki
          p.visual
            img.img-fluid.w-100(src="images/fujimaki.png" srcset="images/fujimaki@2x.png 2x" data-emergence="hidden" alt="ポートフォリオサイト")
          p.text-right.caption(data-emergence="hidden") ※掲載の画像は2019年6月にWEBページをキャプチャーしたものです。
          h3.h2(data-emergence="hidden") ポートフォリオサイト 2019
            a.exLink.h4(href="https://fujimaki.design/" target="_blank")
              i.fas.fa-external-link-alt
          table.data.mb-4(data-emergence="hidden")
            tr
              th 公開日：
              td 2019年6月
            tr
              th 担当範囲：
              td
                ul
                  li デザイン
                  li コーディング
                  li SEO
            tr
              th 制作期間：
              td 2ヶ月間（40時間）
            tr
              th 使用した技術：
              td
                ul
                  li HTML5
                  li CSS3
                  li Bootstrap
                  li Sass
                  li PostCSS
                  li Laravel-Mix(Webpack)
                  li Git
                  li Pug
                  li JavaScript
                  li Babel
                  li Adobe XD
                  li Photoshop
                  li Illustrator

          p(data-emergence="hidden") 当ポートフォリオサイト。シンプルで情報が見やすいWEBサイトをコンセプトにデザイン。
          p(data-emergence="hidden") 効率的なコーディングを学ぶために、Pug ・ Bootstrap ・ Sassを採用。JSは脱jQueryを目指しJavaScriptでDOMを操作し、アニメーションはCSSで表現しました。レンダリングを考慮しPostCssでCSSを最適化しています。技量不足で今回は導入しませんでしたが、今後SSRやプリレンダリングについて学習し、導入できればと考えています。

        article#akarimirai
          p.visual
            img.img-fluid.w-100(src="images/miraiakari.png" srcset="images/miraiakari@2x.png 2x" data-emergence="hidden" alt="カリみらいオフィシャルサイト")
          p.text-right.caption(data-emergence="hidden") ※掲載の画像は2017年4月にWEBページをキャプチャーしたもので、現在のサイトは閉鎖しています。
          h3.h2(data-emergence="hidden") 大阪夢まつり公式アイドル｜アカリみらいオフィシャルサイト
            a.exLink.h4(href="http://web.archive.org/web/20171104160000/https://akarimirai.net/" target="_blank")
              i.fas.fa-external-link-alt
          table.data.mb-4(data-emergence="hidden")
            tr
              th クライアント：
              td 大阪府遊技業協同組合様
            tr
              th 公開日：
              td 2015年2月
            tr
              th 担当範囲：
              td
                ul
                  li コーディング
                  li SEO
            tr
              th 制作期間：
              td 10日間
            tr
              th 使用した技術：
              td
                ul
                  li HTML5
                  li CSS3
                  li Wordpress
                  li jQuery
                  li Photoshop
                  li Illustrator

          p(data-emergence="hidden") 大阪夢まつり2015年用のプロモーションページのコーディングとWordpress設定を担当。
            br
            | もともとはテキストベースのWEBサイトであったが、クライアントの希望でデザインを一新した上でWordpressを導入。
            br
            | 現在は閉鎖してしまったが、
            a(href="http://web.archive.org/web/20171104160000/https://akarimirai.net/" target="_blank")
              | Web Archive
            | より閲覧可能。

        article#zinossoft
          p.visual
            img.img-fluid.w-100(src="images/zinossoft.png" srcset="images/zinossoft@2x.png 2x" data-emergence="hidden"  alt="株式会社 Zinossoft")
          p.text-right.caption(data-emergence="hidden") ※掲載の画像は2019年5月にWEBページをキャプチャーしたもので、現在の状況とことなる場合があります。
          h3.h2(data-emergence="hidden") 株式会社 Zinossoft
            a.exLink.h4(href="http://zinossoft.co.jp/" target="_blank")
              i.fas.fa-external-link-alt
          table.data.mb-4(data-emergence="hidden")
            tr
              th クライアント：
              td 株式会社 Zinossoft様
            tr
              th 公開日：
              td 2015年1月
            tr
              th 担当範囲：
              td
                ul
                  li ディレクション
                  li コーディング
                  li SEO
            tr
              th 制作期間：
              td 3週間（デザイン：3週間、素材作成：1週間、コーディング：1週間）
            tr
              th 使用した技術：
              td
                ul
                  li HTML5
                  li CSS3
                  li jQuery
                  li Photoshop
                  li Illustrator

          p(data-emergence="hidden") 株式会社Zinossoft様のコーポレートサイト。職業訓練生時に制作したサイト。
            br
            | 職業訓練の一環として、全て自分でディレクション、デザイン、コーディングを担当し、SEOの最適化を施しました。
            br
            | 法人登録用に制作したページなので、最低限の情報で構成してあり、レスポンシブには未対応。
            br
            | 制作実績はクライアント自信が更新していきたいとのことだったので、更新しやすいように雛形を作るなどして工夫しました。

        p.appendix.border.p-3.text-center その他、未公開案件もございます。
          br
          | 閲覧希望の方は
          a(href="mailto:326.fujimaki@gmail.com" target="_blank")
            | メールアドレスにて
          | ご連絡ください。